<h1>Hot Weather Widget</h1>
<div class="element" *ngIf="countries$ | async as countries; else loader">

  <div class="element-left">
<app-place (countrySelectEvent)="setCurrentCountry($event)" [countries]="countries">
</app-place>
  </div>


  <div class="element-right">
    <app-weather [currentCountry] = "currentCountry"></app-weather>
    <div class="teddy-bear">
      <app-statistics [currentCountry] = "currentCountry"></app-statistics>
  </div>
  </div>


</div>
<ng-template #loader>
  <div class="load-container">
    <mat-spinner>
    </mat-spinner>
  </div>
</ng-template>
